.wrapper{
	width: 50%;
	margin: 0 auto;
}
label, .gender{
	font-size: 20px;
}
.com{
	width: 50%;
	padding: 10px;
}

.dob{
	width: 50%;
}
.submit{
	font-size: 20px;
    background-color: #3ea99f;
}